* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue';
}

body {
  background: hsl(0, 0%, 98%);
}

h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
}

p {
  padding-block: 2.5rem;
  line-height: 1.4rem;
}

.logo {
  padding-top: 0.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 5%;
  padding-inline: 5%;
  align-items: center;
}

.side-bar {
  background: hsl(0, 0%, 98%);
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  padding-block: 7%;
  width: 70%;
}

nav ul li,
a,
.menu {
  font-weight: 500;
  color: black;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.nav-btn {
  padding: 0.8rem 2rem;
  border: 1px solid black;
  background: transparent;
  border-radius: 1rem;
  cursor: pointer;
}

.open-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  display: block;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: 85%;
}

.menu {
  width: 100%;
  margin-top: 2rem;
}

.item {
  position: relative;
  cursor: pointer;
  padding: 0.6rem 2rem;
}

#up-btn,
#ups-btn {
  display: none;
}

.sub-item {
  line-height: 1.8rem;
  margin-left: 0.4rem;
}

.sub-menu,
.sub-menus {
  margin: 1rem 1rem 0 1rem;
  display: none;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

#btn {
  width: 90%;
  font-family: 'epilogue';
  font-weight: 600;
  margin: 1rem auto;
  cursor: pointer;
  border: 2px solid gray;
  background: transparent;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}

.hero-container {
  flex-direction: column;
  padding-inline: 0;
  gap: 4rem;
  text-align: center;
  margin: 0;
}

.hero-img-desk {
  display: none;
}

.hero-img-mob {
  width: 100%;
  object-fit: cover;
  display: block;
}

.hero-btn {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.hero-btn:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.imgs {
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: 0;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  header {
    padding-block: 2%;
  }

  .side-bar {
    display: flex;
    position: relative;
    height: 0;
    padding-block: 0;
    width: 100%;
  }

  .open-btn,
  .close-btn {
    display: none;
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-inline-start: 3rem;
  }

  .item {
    position: unset;
    padding: 0 1rem;
  }

  .login {
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    margin-top: 0;
  }

  #btn {
    padding-inline: 2rem;
    width: 100%;
  }

  .sub-menu, .sub-menus {
    position: fixed;
    background: white;
    font-size: 0.8rem;
    display: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .sub-menu {
    margin-left: -4rem;
  }

  .sub-menus {
    margin-left: -0.6rem;
  }

  .hero-container {
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    padding-inline: 13%;
    margin: 0 auto 5rem auto;
  }

  .hero-text {
    margin: 6rem auto 0 auto;
  }

  .hero-img-mob {
    display: none;
  }

  .hero-img-desk {
    display: block;
    width: 50%;
    object-fit: contain;
  }
  .imgs {
    margin-top: 6rem;
  }
}
